@page "/"

<PageTitle>Members</PageTitle>

<div class="container-fluid">
    <h1>
        Members
        <NavLink type="button" class="btn btn-primary mx-2" href="/members/create">Create</NavLink>
    </h1>
    <div class="grid">
        <QuickGrid Items="_members" TGridItem="Entities.CQRS.Queries.MemberViewModel">
            <PropertyColumn Property="@(x => x.Fullname)" Sortable="true" Class="full-name">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" class="form-control" autofocus @bind="_nameFilter" @bind:event="oninput" placeholder="Full Name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <TemplateColumn Title="">
                <NavLink href="@($"members/trainings/{context.Id.Value}")">Allenamenti</NavLink>
            </TemplateColumn>
        </QuickGrid>
    </div>
</div>
